:root {
    --clr-grey: #d7e2e6;
    --clr-blue: #85dcff;
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-grey: #4d4b3f;
    --clr-light-grey: #757575;
}

body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* max-width: 1920px;
    height: 100vh; */
    max-width: 900px;
}

.header {
    display: flex;
    flex-direction: column;
    /* max-width: 1920px; */
}

.top-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-white);
    /* padding: 0.9rem 2rem 1.1rem 1.1rem; */
    box-shadow: -8px 3px 8px rgba(204, 204, 204, 0.9)
}

.left-item>a {
    /* margin-left: 7.8rem; */
    margin-left: 5.5rem;
    ;
    text-decoration: none;
    color: var(--clr-black);
    /* font-size: 1.9rem; */
    font-size: 0.8rem;
    font-weight: bold;
}

.navigation {
    display: flex;
    padding: 1rem 2rem;
}

.list {
    display: flex;
}

.list>li {
    /* margin-left: 1.8rem; */
    margin-left: 1rem;
}

.list>li>a {
    text-decoration: none;
    color: var(--clr-black);
    /* font-size: 1.9rem; */
    font-size: 0.75rem;
    font-weight: bold;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--clr-blue);
    z-index: -1;
    /* padding: 0 4rem 0.8rem 4.8rem; */
    padding: 0 3rem 0 4rem;
    overflow: hidden;
    /* height: 94vh; */
}

.info {
    padding-left: 1rem;
}

.title {
    /* font-size: 2.5rem; */
    font-size: 1.5rem;
    padding-top: 0.05rem;
}

/* .info {
    width: 55%;
    padding-right: 50px;
} */

.text {
    /* font-size: 20px; */
    font-size: 0.65rem;
    line-height: 1.6;
    /* padding: 2rem 11.5rem 3rem 0rem; */
    padding: 1rem 5.5rem 1.5rem 0rem;
}

.btn {
    /* border-radius: 10px; */
    border-radius: 6px;
    border: 1px solid var(--clr-black);
    /* font-size: 1.3rem; */
    font-size: 0.65rem;
    font-weight: bold;
}

.donate {
    background-color: var(--clr-white);
    color: var(--clr-black);
    /* margin-right: 2.2rem; */
    margin-right: 1rem;
    padding: 1em 4.7em;
}

.join {
    background-color: var(--clr-black);
    color: var(--clr-white);
    border: 0;
    border-bottom: none;
    padding: 1em 4.7em;
}

.hero-img {
    width: 40%;
}


.what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.what-we-do-heading {
    font-size: 1rem;
}

.what-we-do-subtitle {
    font-size: 0.75rem;
    /* font-weight: bold; */
    letter-spacing: 0.03rem;
    padding: 1.2rem 15rem;
    text-align: center;
}

.desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 1.9rem;
}

.description-heading {
    font-size: 0.9rem;
    padding: 0.9rem 0;
}

.description-text {
    font-size: 0.7rem;
}

.fa-solid {
    color: var(--clr-blue);
    font-size: 5.5rem;
}

.work {
    background-color: var(--clr-blue);
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 3rem 2rem;

}

.work-title {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.work-list {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    height: 12rem;
    width: 70%;
    padding-left: 0;
    margin: 0 0 0 4rem;
}

.work-list>li {
    display: flex;
    width: 40%;
    height: 3rem;
    font-size: 0.8rem;
}

.work-list>li:nth-child(1),
.work-list>li:nth-child(4) {
    height: 4rem;
}

.fa-solid.fa-circle {
    color: var(--clr-black);
    font-size: 1rem;
    padding-right: 0.5rem;
}

.btn.mission {
    width: 20%;
    font-size: 0.5rem;
    padding: 1em;
    font-weight: normal;
    background-color: var(--clr-black);
    color: var(--clr-white);
    align-self: center;
    letter-spacing: 0.05rem;
}

.animals {
    margin: 1rem 4rem 2rem 4rem;
}

.pics {
    display: flex;
    width: 22%;
    gap: 2rem;
    justify-content: space-between;
    object-fit: cover;
}

.animals-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
}

.animals-text {
    text-align: center;
    font-size: 0.7rem;
    margin: 1rem 1rem;
}

.how-we-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.how-we-work-heading {
    font-size: 1.2rem;
    text-align: center;
}

.article {
    border-radius: 6px;
    border: 1px solid rgb(238, 236, 236);
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.article-title {
    background-color: var(--clr-blue);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.8rem;
    border: none;
}

.article-content{
    font-size: 0.7rem;
    font-weight: 700;
    padding: 1rem 1rem 1.5rem 1rem;
    box-shadow: none;
}

.help-animals{
    display: flex;
    gap:3rem;
    justify-content: space-between;
}

.help-animal-img {
    width: 50%;
}

.help-animal-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.help-animal-title{
    font-size: 1rem;
    text-align: center;
}

.help-animal-quote{
    font-size: 0.65rem;
    margin: 1rem 0;
    color:var(--clr-black);
    opacity: 0.7;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input {
    border-radius: 4px;
    border: 1px solid lightgray;
}

.input::placeholder {
    font-weight: 600;
    opacity: 0.5;
    color: black;
    padding: 0.6rem;
    font-size: 0.55rem;
    align-self: center;
}

.btn.send {
    width: 60%;
    font-size: 0.65rem;
    padding: 0.6em;
    font-weight: bold;
    background-color: var(--clr-black);
    color: var(--clr-white);
    align-self: flex-start;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-span{
    font-size: 0.65rem;
    font-weight: 900;
    color: var(--clr-black);
    opacity: 0.7;
}

.icons {
    display: flex;
    gap: 0.8rem;
    font-size: 1.1rem;
    opacity: 0.9;
}
